
body{
    background-color: rgb(148, 134, 139);
}

.hidden{
    display: none;
}

.checkCats{
    position: relative;
    display: block;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.loader {
    display: block;
    position: relative;
    height: 12px;
    width: 80%;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
}

.loader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #FF3D00;
    animation: 0.8s prog ease-in infinite;
}

@keyframes prog {
    to {
        width: 100%;
    }
}


div.polaroid {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-top:15px;
    border-radius: 10px;
}
.imgCats{
    display: block;
    max-width: 80%;
    margin: auto;
    border: 1px;
    border-radius: 5px;
    /* border-color: black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 2s;
    
}

.imgCats:hover,
.imgCats:focus{
    transform: scale(1.8);
}
div.container {
    text-align: center;
    padding: 10px 20px;
}
